:root {
  --col-b: #000000;
  --text-color: #212121;
  --background-color: #2f303a;
  --button-color: #2196f3;
  --colr: #ffffff;
  --two-colr: #757575;
  --team-color: #f5f4fa;
  --icon-feel: #afb1b8;
  --text-absolute: rgba(47, 48, 58, 0.8);
  --text-area: rgba(117, 117, 117, 0.5);
  --modal-black: rgba(33, 33, 33, 0.2);
  --button-modal: rgba(0, 0, 0, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --social-netw-foot: rgba(255, 255, 255, 0.1);
  --email-footer: rgba(255, 255, 255, 0.6);
  --d-input-footer: rgba(255, 255, 255, 0.3);
  --button-1: rgba(0, 0, 0, 0.3);
  --shadow-but-modal: rgba(0, 0, 0, 0.15);
  --card-portfolio-color: rgba(33, 150, 243, 0.9);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
label,
input,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  color: var(--text-color);
  margin: 0 auto;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: var(--text-color);
}

a {
  color: var(--two-colr);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: auto;
  color: var(--color-b);
}

.Web {
  color: var(--button-color);
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 519px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 6%;
  line-height: 1.3;
  color: var(--colr);
}

.title-about-us {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: auto;
  color: var(--text-color);
  margin-bottom: 10px;
}

.title-what-wd {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: var(--text-color);
}

.pre-title-wd {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--colr);
  text-wrap: nowrap;
}

.title-team {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: var(--text-color);
}

.pre-title-teamname {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: var(--text-color);
}

.title-customers {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.pre-title-footer {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colr);
  margin-top: 0px;
  margin-bottom: 20px;
}

.logo-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--colr);
  margin-bottom: 20px;
}

.web-foot {
  color: var(--button-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav-item:nth-child(1) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--button-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:first-child a::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item:nth-child(2) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:nth-child(2) a:hover {
  color: var(--button-color);
}

.nav-item:nth-child(2) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item:nth-child(2) a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-item:nth-child(3) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:nth-child(3) a:hover {
  color: var(--button-color);
}

.nav-item:nth-child(3) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item:nth-child(3) a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gmail-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.gmail-head > a:hover,
.gmail-head > a:focus {
  color: var(--button-color);
}

.header-icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--two-colr);
  border: none;
  background-color: var(--colr);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email-phone:hover {
  color: var(--button-color);
}

.header-email-phone:hover .header-icon-envelope {
  fill: var(--button-color);
}

.header-email-phone:hover .header-icon-phone {
  fill: var(--button-color);
}

.line {
  border: 1px solid var(--border-2);
  height: 0px;
  margin-top: 0;
  margin-bottom: 94px;
}

.nav-item-p:nth-child(2) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--button-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-p:nth-child(2) a::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item-p:nth-child(1) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-p:nth-child(1) a:hover {
  color: var(--button-color);
}

.nav-item-p:nth-child(1) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item-p:nth-child(1) a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-item-p:nth-child(3) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-p:nth-child(3) a:hover {
  color: var(--button-color);
}

.nav-item-p:nth-child(3) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.nav-item-p:nth-child(3) a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.all-project {
  margin-bottom: 94px;
}

.project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.project-nav > li {
  cursor: pointer;
  height: 404px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-color);
  -webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-nav > li:hover,
.project-nav > li:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: var(--colr);
  border: 1px solid var(--border-color);
}

.project-nav > li > div > p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0px;
  margin-left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--two-colr);
}

.project-nav > li > img {
  position: relative;
  overflow: hidden;
}

.overlay-card {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--colr);
  background-color: var(--card-portfolio-color);
  padding: 63px 24px;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.project-nav > li:hover .overlay-card,
.project-nav > li:focus .overlay-card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--colr);
  position: inherit;
}

.pretitle-offer {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-color);
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.button1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 73px;
  height: 38px;
  padding: 6px 25px 6px 25px;
  margin: 8px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 125px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 112px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 103px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  width: 130px;
  height: 38px;
  padding: 6px 22px 6px 22px;
  margin: 8px;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button > li > button:hover,
.nav-button > li > button:focus {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background: var(--button-color);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--colr);
}

.order-service {
  height: 600px;
  padding: 200px 452px;
  margin-bottom: 119px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/background\ png\ sq.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/background\ png\ sq.jpg);
}

.button-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 216px;
  padding: 10px 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 6%;
  line-height: 1.8;
  background-color: var(--button-color);
  color: var(--colr);
  -webkit-box-shadow: 0px 3px 5px var(--button-1);
          box-shadow: 0px 3px 5px var(--button-1);
  border: none;
  border-radius: 4px;
}

.about-us-sec {
  margin-top: 0;
  margin-bottom: 94px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 94px;
}

.li-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
}

.div-icon-au {
  padding: 25px 100px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: var(--team-color);
  margin-top: 0;
  margin-bottom: 30px;
}

.icon-about-us {
  width: 70px;
  height: 70px;
}

.about-us-descr p {
  width: 255px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.7;
  color: var(--two-colr);
}

.what-we-do {
  margin-top: 0;
  margin-bottom: 188px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 188px;
}

.img-wd-item {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.text-what-wd {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--text-absolute);
  width: 100%;
  height: 70px;
  padding: 27px 95px;
}

.our-team {
  margin-top: 0;
  margin-bottom: 94px;
  padding-top: 92px;
  padding-bottom: 94px;
  height: 708px;
  background: var(--team-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.team > li {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--colr);
  border-radius: 0 0 4px 4px;
}

.div-team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 16px;
}

.div-team-name > p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: auto;
  color: var(--two-colr);
}

.social-networks-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.container-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1), fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-social-networks:hover {
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--button-color);
}

.container-social-networks:hover .social-networks-team-icon {
  fill: var(--colr);
}

.social-networks-team-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-feel);
}

.regular-customers {
  margin-top: 0;
  margin-bottom: 94px;
}

.regular-customers-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer {
  border: 1px solid var(--icon-feel);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.customer:hover {
  border: 1px solid var(--button-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
}

.customer-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-feel);
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:hover .customer-logo {
  fill: var(--button-color);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 252px;
  padding: 60px 215px;
  margin-top: 0;
  background-color: var(--background-color);
}

.div-contact-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-contact-logo p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: 1.7;
  letter-spacing: 3%;
  color: var(--colr);
}

.div-contact-logo .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  margin-right: 93px;
  gap: 9px;
}

.contact > li {
  width: 231px;
}

.social-networks-footer {
  margin-right: 93px;
}

.social-networks-footer .container-social-networks {
  background-color: var(--social-netw-foot);
  border-radius: 50%;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-footer .container-social-networks:hover {
  background-color: var(--button-color);
}

.social-networks-footer .social-networks-team-icon {
  fill: var(--colr);
}

.newsletter {
  margin-right: 12px;
}

.d-newsletter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter h4 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colr);
  margin-top: 0;
  margin-bottom: 20px;
}

.d-inp-footer {
  border: 1px solid var(--d-input-footer);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
}

.input-foot {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--email-footer);
}

.button-subscribe-foot {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background: var(--button-color);
  border: none;
  -webkit-box-shadow: 0 4px 4px 0 var(--shadow-but-modal);
          box-shadow: 0 4px 4px 0 var(--shadow-but-modal);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--colr);
  padding-left: 28px;
}

.svg-but-foot {
  display: block;
  position: absolute;
  top: 13px;
  right: 28px;
}

.backdrop {
  background-color: var(--backdrop);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.modal {
  position: absolute;
  background-color: var(--colr);
  padding: 40px;
  border-radius: 4px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.butt-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--colr);
  border: 1px solid var(--button-modal);
}

.butt-modal:hover use {
  fill: var(--button-color);
}

.d-butmodal {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
}

.title-modal {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.form-modal label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--two-colr);
  margin-top: 0;
  margin-bottom: 4px;
  margin-bottom: 4px;
}

.modal-label {
  display: block;
}

.d-input {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border: 1px solid var(--modal-black);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 11px 10px 11px 42px;
}

.svg-inp {
  display: block;
  position: absolute;
  z-index: 2;
  left: 12px;
  fill: var(--col-b);
}

.inp-modal {
  display: block;
  border: none;
  outline: none;
  width: 100%;
}

.d-input:focus-within {
  border: 1px solid var(--button-color);
}

.d-input:focus-within svg {
  fill: var(--button-color);
}

.area-label {
  display: block;
}

.modal-area {
  display: block;
  border: 1px solid var(--modal-black);
  outline: none;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 10px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-area);
}

.modal-area:focus {
  border: 1px solid var(--button-color);
}

.conditions-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 30px;
}

.check-modal {
  accent-color: var(--button-color);
}

.conditions {
  color: var(--button-color);
  border-bottom: 1px solid var(--button-color);
}

.butt-conf-modald {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--colr);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 var(--shadow-but-modal);
          box-shadow: 0 4px 4px 0 var(--shadow-but-modal);
  background: var(--button-color);
  border: none;
}