$col-b: #000000;
$text-color: #212121;
$background-color: #2f303a;
$button-color: #2196f3;
$colr: #ffffff;
$stroke-offerp: #eeeeee;
$two-colr: #757575;
$team-color: #f5f4fa;
$icon-feel: #afb1b8;
$text-absolute: rgba(47, 48, 58, 0.8);
$text-area: rgba(117, 117, 117, 0.5);
$modal-black: rgba(33, 33, 33, 0.2);
$button-modal: rgba(0, 0, 0, 0.1);
$backdrop: rgba(0, 0, 0, 0.2);
$social-netw-foot: rgba(255, 255, 255, 0.1);
$email-footer: rgba(255, 255, 255, 0.6);
$d-input-footer: rgba(255, 255, 255, 0.3);
$button-1: rgba(0, 0, 0, 0.3);
$shadow-but-modal: rgba(0, 0, 0, 0.15);
$card-portfolio-color: rgba(33, 150, 243, 0.9);
$line-potf: #ececec;
