.line {
  border: 1px solid $line-potf;
  height: 0px;
  margin-top: 0;
  margin-bottom: 94px;
}
.navigation {
  &__item__portfolio:nth-child(2) a {
    @extend %header_nav_text;
    @extend %block;
    position: relative;
    transition: $transition;
    &::after {
      content: "";
      @extend %block;
      @extend %header_nav_after;
    }
  }
  &__item__portfolio:nth-child(1) a {
    @extend %header_nav_text;
    color: $text-color;
    @extend %block;
    position: relative;
    transition: $transition;
    &:hover {
      color: $button-color;
    }
    &::after {
      color: $button-color;
      content: "";
      @extend %block;
      @extend %header_nav_after;
      opacity: 0;
      transform: scale(0);
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__item__portfolio:nth-child(3) a {
    @extend %header_nav_text;
    color: $text-color;
    @extend %block;
    position: relative;
    transition: $transition;
    &:hover {
      color: $button-color;
    }
    &::after {
      color: $button-color;
      content: "";
      @extend %block;
      @extend %header_nav_after;
      opacity: 0;
      transform: scale(0);
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
