.line {
  border: 1px solid $line-potf;
  height: 0px;
  margin-top: 0;
  margin-bottom: 94px;
}
.navigation__item__portfolio:nth-child(2) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: $button-color;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item__portfolio:nth-child(2) a::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $button-color;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.navigation__item__portfolio:nth-child(1) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: $text-color;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item__portfolio:nth-child(1) a:hover {
  color: $button-color;
}
.navigation__item__portfolio:nth-child(1) a::after {
  color: $button-color;
  content: "";
  position: absolute;
  display: block;
  background-color: $button-color;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.navigation__item__portfolio:nth-child(1) a:hover::after {
  opacity: 1;
  transform: scale(1);
}
.navigation__item__portfolio:nth-child(3) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: $text-color;
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item__portfolio:nth-child(3) a:hover {
  color: $button-color;
}
.navigation__item__portfolio:nth-child(3) a::after {
  color: $button-color;
  content: "";
  position: absolute;
  display: block;
  background-color: $button-color;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.navigation__item__portfolio:nth-child(3) a:hover::after {
  opacity: 1;
  transform: scale(1);
}
