.header__nav {
  @extend %flex;
  width: 519px;
}
.header--logo--dark {
  @extend %logo;
  color: $col-b;
  margin-bottom: 0;
}
.foot--logo--light {
  @extend %logo;
  font-size: 24px;
  @media screen and (min-width: 1200px) {
    @extend %logo;
  }
  margin-bottom: 20px;
}
.header__logoWeb {
  color: $button-color;
}
.footer__logoWeb {
  color: $button-color;
}
