.ordering__title {
  display: flex;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 6%;
  line-height: 1.3;
  color: $colr;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: auto;
  color: $text-color;
  margin-bottom: 10px;
}
.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: $text-color;
}
.work__pretitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $colr;
  text-wrap: nowrap;
}
.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: auto;
  text-align: center;
  color: $text-color;
}
.team__pretitle__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: $text-color;
}
.customers__title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 50px;
}
.footer__social__pretitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colr;
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer__newsletter__pretitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colr;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer__newsletter__pretitle {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colr;
  margin-top: 0;
  margin-bottom: 20px;
}
.projects__pretitle {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $text-color;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 12px;
}
