.ordering__title {
  font-size: 26px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 6%;
  line-height: 162%;
  color: $colr;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 136%;
  }
}
.about__title {
  font-weight: $font-weight7;
  font-size: 14px;
  letter-spacing: 3%;
  line-height: auto;
  color: $text-color;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.work__title {
  @extend %work_team_title;
}
.work__pretitle {
  font-weight: $font-weight7;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $colr;
  text-wrap: nowrap;
}
.team__title {
  font-size: 28px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.team__pretitle__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: $text-color;
}
.customers__title {
  font-weight: $font-weight7;
  font-size: 28px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.footer__social__pretitle {
  @extend %footer_pretitle;
}
.footer__newsletter__pretitle {
  @extend %footer_pretitle;
}
.projects__pretitle {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  font-weight: $font-weight7;
  font-size: 18px;
  line-height: 2;
  color: $text-color;
}
.modal-title {
  font-weight: $font-weight7;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 12px;
}
