.about {
  margin-top: 0;
  margin-bottom: 94px;
  &__list {
    @extend %flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 94px;
  }
  &__item {
    @extend %flex;
    flex-direction: column;
    width: 270px;
  }
  &__div {
    padding: 25px 100px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background: $team-color;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__text {
    width: 255px;
    font-weight: $font-weight4;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.7;
    color: $two-colr;
  }
}
