.footer {
  @extend %flex;
  width: 100%;
  height: 252px;
  padding: 60px 215px;
  margin-top: 0;
  background-color: $background-color;
  &__div__contact {
    @extend %flex;
    align-items: flex-start;
  }
  &__div__contact p {
    font-weight: $font-weight4;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.7;
    letter-spacing: 3%;
    color: $colr;
  }
  &__contacts {
    @extend %flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 70px;
  }
  &__contact__list {
    @extend %flex;
    flex-direction: column;
    padding: 0px;
    margin-right: 93px;
    gap: 9px;
  }
  &__contact__item {
    width: 231px;
  }
  &__div__social {
    margin-right: 93px;
    @extend %flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  &__container__social {
    @extend %flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    transition: $transition-background,
     $transition-icon;
    background-color: $social-netw-foot;
    &:hover {
      background-color: $button-color;
    }
  }
  &__social__icon {
    width: 20px;
    height: 20px;
    fill: $colr;
  }
  &__newsletter {
    margin-right: 12px;
  }
  &__div__newsletter {
    @extend %flex;
  }
  &__container__newsletter {
    border: 1px solid $d-input-footer;
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
  }
  &__newsletter__input {
    @extend %block;
    position: inherit;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-weight: $font-weight4;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: $email-footer;
  }
  &__newsletter__button {
    @extend %block;
    position: relative;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background: $button-color;
    border: none;
    box-shadow: 0 4px 4px 0 $shadow-but-modal;
    font-weight: $font-weight7;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    color: $colr;
    padding-left: 28px;
  }
  &__newsletter__icon {
    @extend %block;
    top: 13px;
    right: 28px;
  }
}
