.footer {
  @extend %flex;
  width: 100%;
  padding: 60px 0px;
  margin-top: 0;
  background-color: $background-color;
  &__div__container {
    @extend %flex;
    gap: 60px;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }
  &__contacts {
    @extend %flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }
  &__contacts__text {
    font-weight: $font-weight4;
    font-size: 14px;
    letter-spacing: 3%;
    line-height: 1.7;
    letter-spacing: 3%;
    color: $colr;
  }
  &__contact__list {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    width: 195px;
    gap: 9px;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }
  &__div__soc {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
      margin-top: 12px;
    }
  }
  &__div__social {
    @extend %flex;
    justify-content: center;
    gap: 10px;
  }
  &__container__social {
    @extend %flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    transition: $transition-background, $transition-icon;
    background-color: $social-netw-foot;
    &:hover {
      background-color: $button-color;
    }
  }
  &__social__icon {
    width: 20px;
    height: 20px;
    fill: $colr;
  }
  &__newsletter {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      align-items: flex-start;
      margin-top: 12px;
    }
  }
  &__div__newsletter {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__container__newsletter {
    border: 1px solid $d-input-footer;
    border-radius: 4px;
    width: 450px;
    height: 50px;
    padding: 16px 15px;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
  &__newsletter__input {
    @extend %block;
    position: inherit;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-weight: $font-weight4;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: $email-footer;
  }
  &__newsletter__button {
    @extend %block;
    position: relative;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background: $button-color;
    border: none;
    box-shadow: 0 4px 4px 0 $shadow-but-modal;
    font-weight: $font-weight7;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    color: $colr;
    padding: 10px 31px;
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
      padding: 10px 28px;
    }
  }
  &__newsletter__icon {
    @extend %block;
    top: 13px;
    right: 28px;
  }
}
