.header {
  @extend %flex;
  flex-wrap: wrap;
  height: 80px;
}
.navigation {
  &__list {
    @extend %flex;
    gap: 50px;
  }
  &__link.navigation__active {
    color: $button-color;
    &::after {
      color: $button-color;
      content: "";
      @extend %block;
      @extend %header_nav_after;
      opacity: 1;
      transform: scale(1);
    }
  }
  &__link {
    @extend %header_nav_text;
    color: $text-color;
    @extend %block;
    position: relative;
    transition: $transition;
    &:hover {
      color: $button-color;
    }
    &::after {
      color: $button-color;
      content: "";
      @extend %block;
      @extend %header_nav_after;
      opacity: 0;
      transform: scale(0);
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.contacts {
  @extend %flex;
  gap: 50px;
  &__a {
    @extend %flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $two-colr;
    border: none;
    background-color: $colr;
    transition: $transition;
    &:hover {
      color: $button-color;
    }
  }
  &__icon__email {
    width: 16px;
    height: 12px;
    fill: $two-colr;
    margin-right: 10px;
    margin-left: 0;
    transition: $transition-icon;
  }
  &__a:hover &__icon__email {
    fill: $button-color;
  }
  &__icon__phone {
    width: 10px;
    height: 16px;
    fill: $two-colr;
    margin-right: 10px;
    margin-left: 0;
    transition: $transition-icon;
  }
  &__a:hover &__icon__phone {
    fill: $button-color;
  }
}
