.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.navigation {
  display: flex;
  gap: 50px;
}
.nav-item:nth-child(1) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--button-color);
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:first-child a::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.nav-item:nth-child(2) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:nth-child(2) a:hover {
  color: var(--button-color);
}
.nav-item:nth-child(2) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.nav-item:nth-child(2) a:hover::after {
  opacity: 1;
  transform: scale(1);
}
.nav-item:nth-child(3) a {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  line-height: auto;
  color: var(--text-color);
  position: relative;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:nth-child(3) a:hover {
  color: var(--button-color);
}
.nav-item:nth-child(3) a::after {
  color: var(--button-color);
  content: "";
  position: absolute;
  display: block;
  background-color: var(--button-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.nav-item:nth-child(3) a:hover::after {
  opacity: 1;
  transform: scale(1);
}
.gmail-number {
  display: flex;
  gap: 50px;
}
.gmail-head > a:hover,
.gmail-head > a:focus {
  color: var(--button-color);
}
.header-icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--two-colr);
  margin-right: 10px;
  margin-left: 0;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email-phone {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--two-colr);
  border: none;
  background-color: var(--colr);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-email-phone:hover {
  color: var(--button-color);
}
.header-email-phone:hover .header-icon-envelope {
  fill: var(--button-color);
}
.header-email-phone:hover .header-icon-phone {
  fill: var(--button-color);
}
