.regular-customers {
  margin-top: 0;
  margin-bottom: 94px;
}
.regular-customers-div {
  display: flex;
  justify-content: space-between;
}
.customer {
  border: 1px solid var(--icon-feel);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}
.customer:hover {
  border: 1px solid var(--button-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  cursor: pointer;
}
.customer-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-feel);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.customer:hover .customer-logo {
  fill: var(--button-color);
}
