.team {
  margin-top: 0;
  margin-bottom: 94px;
  padding-top: 92px;
  padding-bottom: 94px;
  background: $team-color;
  &__list {
    @extend %flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: $colr;
    border-radius: 0 0 4px 4px;
  }
  &__img {
    width: 450px;
    height: 460px;
    @media screen and (min-width: 768px) {
      width: 354px;
      height: 340px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }
  &__div__name {
    @extend %flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 16px;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: $font-weight4;
    font-size: 16px;
    line-height: auto;
    color: $two-colr;
  }
  &__div__social {
    @extend %flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  &__container__social {
    @extend %flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    transition: $transition-background, $transition-icon;
    background-color: none;
    &:hover {
      background-color: $button-color;
    }
  }
  &__social__icon {
    width: 20px;
    height: 20px;
    fill: $icon-feel;
    transition: $transition-icon;
  }
  &__container__social:hover &__social__icon {
    fill: $colr;
  }
}
